<!DOCTYPE html>
<html>
<head>
    <title>Menu</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="container">
    <h2>Menu Options</h2>
    <div class="menu-buttons">
        <form action="/change-wifi" method="get">
            <input type="submit" value="Change Wi-Fi">
        </form>
        <form action="/change-spot" method="get">
            <input type="submit" value="Update Spotify Details">
        </form>
        <form action="/display-options" method="get">
            <input type="submit" value="Display Options">
        </form>

        <form action="/reboot" method="get">
            <input type="submit" value="Reboot Device">
        </form>

        <form action="/logout" method="get">
            <input type="submit" value="Logout">
        </form>
        
    </div>
</div>
</body>
</html>
