<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Information</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <h1>User Information</h1>
        <form method="POST">
            <div class="form-group">
                <label for="wifi_ssid">WIFI SSID:</label>
                <input type="text" id="wifi_ssid" name="wifi_ssid" required>
            </div>

            <div class="form-group">
                <label for="wifi_password">WIFI PASSWORD:</label>
                <input type="text" id="wifi_password" name="wifi_password">
            </div>

            <div class="form-group">
                <label for="spotify_username">SPOTIFY USERNAME:</label>
                <input type="text" id="spotify_username" name="spotify_username" required>
            </div>

            <div class="form-group">
                <label for="spotify_password">SPOTIFY PASSWORD:</label>
                <input type="text" id="spotify_password" name="spotify_password">
            </div>

            <div class="form-group">
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>
</body>
</html>
